// main: main.scss

.section_culture{
  @include flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify(center);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background: $imgColor;

      .culture_title{
        font: 700 1.5rem $montserrat;
        text-transform: uppercase;
        line-height: 5.3rem;
        color: $titleTxt;
        @include respond-to(desktop) {
          font: 700 3rem $montserrat;
        }
      }
      .culture_description{
        font: 400 1.4rem $roboto;
        color: $baseTxt;
        margin-bottom: 100px;
      }
      .culture_container{
        max-width: $maxWidth;
        @include flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify(center);
          @include respond-to(desktop){
            @include flex-direction(row);
            @include align-items(center);
            @include justify(center);
          }
          .culture_box{
            @include flex;
            @include flex-direction(column);
            @include align-items(center);
            position: relative;
              @include respond-to(desktop) {
                &:nth-child(1), &:nth-child(2){
                  &:after {
                  content:"";
                  @include size(0.125rem, 6.25rem);
                  @include position(absolute,40px,240px);
                  background-color: $baseTxt;
                }
            }
                &:nth-child(2), &:nth-child(3){
                  &:before {
                    content:"";
                    @include size(0.125rem, 6.25rem);
                    @include position(absolute,40px,-40px);
                    background-color: $baseTxt;
                  }
                }
          }


          .culture_box_img{
            @include flex;
            @include align-items(center);
            @include justify(center);
            @include size(5.3rem, 5.3rem);
            border-radius: 50%;
            border: 3px solid $baseTxt;
            margin-bottom: 1.875rem;
            }
          .box_title{
            font: 700 1.125rem $montserrat;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
          .box_description{
            font: 400 1rem $montserrat;
            color: $baseTxt;
            margin: 0 1.5rem 3rem;
            width: 80%;
          }
      }
      }
}
