// main: main.scss

.page_header-fixed{
  @include position(fixed, 0, 0);
  background: $bgColor;
  width: 100%;
  z-index: 3;
}

.page_navbar {
  @include flex;
  @include flex-wrap(wrap);
  @include justify(justify);
  @include align-items(center);
  padding: 1rem 1.5rem;
  max-width: $maxWidth;
  margin: 0 auto;
}

.navbar_hamburger {
  @include size(2.2rem,2.2rem);
  @include position(relative);
  display: block;
  cursor: pointer;
  @include respond-to(desktop) {
    display: none;
  }
      .hamburger_icon {
            @include size (0.1875rem, 100%);
            background: $baseTxt;
            border-radius: 0.3125rem;
            }

      span:nth-child(1) {
        @include position(absolute, 0, 0);
        @include transition(all 0.5s ease-in);
      }

      span:nth-child(2) {
        @include position(absolute, 12px, 0);
        @include transition(all 0.5s ease-in);
      }

      span:nth-child(3) {
        @include position(absolute, 25px, 0);
        @include transition(all 0.5s ease-in);
      }

      &-open{
             span:nth-child(1) {
                  top: 18px;
                  @include transform-rotate(135deg);
                  @include transition(all 0.5s ease-in);

                    }

              span:nth-child(2) {
                  opacity: 0;
                  left: -60px;
                  @include transition(all 0.5s ease-in);
                }

                span:nth-child(3) {
                    top: 18px;
                    @include transform-rotate(-135deg);
                    @include transition(all 0.5s ease-in);
                  }
      }

}

.navbar_menu {
    overflow: hidden;
    max-height:0;
    @include transition(all 0.5s ease-in);
    @include flex;
    @include justify(center);
    @include align-items(center);
    @include flex-direction(column);
    @include flex-basic(100%);
    @include respond-to(desktop) {
    @include flex-direction(row);
        max-height: 100%;
        overflow: visible;
        @include flex-basic(auto);

  }
}

.navbar_menu-open {
  max-height: 12.5rem;
}

.menu_link {
  border: none;
  background: $bgColor;
  font: 400 1rem $montserrat;
  line-height: 1.66rem;
  color: $baseTxt;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  @include respond-to(desktop) {
    padding-left: 1rem;
  }
  &:hover {
    color: $accentColor;
    border: none;
  }
  &-active{
    color: $accentColor;
  }
}
