// main: main.scss

@import 'variables';

* {
  box-sizing: border-box
}

body {
  background: $bgColor;
  font: $fontSize $montserrat;

}

.page_container {
  max-width: $maxWidth;
  margin: 0 auto;
}
